html,body{
    height: 100%;
}

/*
* 分类区域
*/
.jd_category{
    height: 100%;
    padding-top: 45px;
    /* background-color: red; */
}

.jd_category_left{
    width: 90px;
    height: 100%;
    float: left;
    overflow: hidden;
}

.jd_category_left ul li{
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #f3f4f6;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.jd_category_left ul li.now{
    border-right: none;
    border-bottom: none;
    background-color: #fff;
}

.jd_category_left ul li a {
    display: block;
}

.jd_category_left ul li.now a{
    color:#d8505c;
}

.jd_category_right{
    height: 100%;
    overflow: hidden;
}

.jd_category_right_content{
    width: 100%;
    padding:10px;
}

.jd_category_right_content a{
    display: flex;
}

.jd_category_right_content a img{
    width:100%;
}

.product_box{
    padding-top: 10px;
}

.product_box h3{
    font-size: 12px;
    margin:10px 0px;
}

.product_box ul li{
    float: left;
    width:33.3333%;
}

.product_box ul li a{
    display: block;
}

.product_box ul li a img{
    display: block;
    width:62px;
    height: 62px;
    margin: 0 auto;
}

.product_box ul li a p{
    font-size: 12px;
    text-align: center;
    padding:10px;
}

